.navigation__wrapper {
  width: 100%;
  height: 75px;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid rgba(44, 44, 44, 0.233);
  box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.137);
}

.menu__list {
  display: flex;
  justify-content: center;
}

@media (max-width: 1099px) {

  .burger__menu,
  .x__menu {
    display: block;
    margin-left: 40px;
    cursor: pointer;
  }

  .burger__menu>div,
  .x__menu>div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .x__menu>.burger_line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .x__menu>.burger_line2 {
    opacity: 0;
  }

  .x__menu>.burger_line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .menu__box__visible {
    width: 220px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 76px;
    background-color: rgb(100, 100, 100);
    box-shadow: 2px 0px 1px rgba(44, 44, 44, 0.137);
  }

  .menu__box__hidden {
    display: none;
  }

  .menu__list {
    position: relative;
    top: 50px;
    left: 50px;
    flex-direction: column;
  }
  .menu__item:hover {
    color: rgb(245, 140, 180);
    font-weight: bold;
  }
  .menu__item {
    margin: 15px 0;
    width: 200px;
  }
}




@media (min-width: 1100px) {
  .navigation__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
background-color: #151924;
color: aliceblue;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
  }

  .burger__menu,
  .x__menu {
    display: none;
  }

  .menu__box {
    width: 80%;
    height: fit-content;

  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .menu__item:hover {
    color: rgb(245, 140, 180);
    font-weight: bold;
  }

  .menu__item {
    text-align: center;
    margin: 15px 20px;
    width: 100px;
    font-size: 1.0rem;
  }
}





.bottom {
  padding: 20px, 0px,0px,0px;
font-size: 0.80rem;
  background-color: rgb(32, 15, 15);
}

.bottom-con {
  padding: 40px;
  background-color: black;
  text-align: center;
}

.bottom-top {
  color: white;
}

.bottom-main {
  display: flex;
  justify-content: center;
}

.bottom-main-cell {
  margin: 20px;
  color: white;

}

a {
  text-decoration: none;
}

a:visited {
color: azure;
}

a:link {
  color: azure;

}